* {
    margin: 0;
}

.grid-row {
    display: flex;
    width: 100%;
    height: 100%;
}

.grid-row div {
    flex: 1;
    border: 1px solid #000;
    background-color:antiquewhite;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    width: 512px;
    height: 512px;
}

body {
    background-color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    margin-bottom: 25px;
    margin-top: 12px;
    background-color: #066eff;
    color:white;
    border: 1px solid #066eff;
    border-radius: 8px;
    padding: 10px 20px;
    font-family: "Poetsen One", sans-serif;
}

button:hover {
    background-color: #0044cc;
    border: 1px solid #0044cc;
    cursor: pointer;
}